<div class="row">
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-info"><i class="ti-wallet"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-light">$3249</h3>
            <h5 class="text-muted m-b-0">Total Revenue</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-cellphone-link"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$2376</h3>
            <h5 class="text-muted m-b-0">Online Revenue</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-cart-outline"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$1795</h3>
            <h5 class="text-muted m-b-0">Offline Revenue</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-bullseye"></i></div>
          <div class="m-l-10 align-self-center">
            <h3 class="m-b-0 font-lgiht">$687</h3>
            <h5 class="text-muted m-b-0">Ad. Expense</h5></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card"> <img class="" src="../../../../assets/images/background/socialbg.jpg" alt="Card image">
      <div class="card-img-overlay card-inverse social-profile d-flex ">
        <div class="align-self-center"> <img src="../../../../assets/images/users/1.jpg" class="img-circle" width="100">
          <h4 class="card-title">James Anderson</h4>
          <h6 class="card-subtitle">@jamesandre</h6>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Experiances</h3>
        <div class="table-responsive">
          <table class="table m-b-0  m-t-30 no-border">
            <tbody>
            <tr>
              <td style="width:90px;"><img src="../../../../assets/images/browser/photoshop.jpg" alt="photoshop" /></td>
              <td style="width:200px;">
                <h4 class="card-title">Photoshop</h4>
                <h6 class="card-subtitle">This is a sample text</h6></td>
              <td class="vm">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 65%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width:90px;"><img src="../../../../assets/images/browser/sketch.jpg" alt="sketch" /></td>
              <td style="width:200px;">
                <h4 class="card-title">Sketch</h4>
                <h6 class="card-subtitle">This is a sample text</h6></td>
              <td class="vm">
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 45%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <hr> </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <span class="display-5">5486</span>
            <h6 class="text-muted">Projects</h6></div>
          <div class="col-4">
            <span class="display-5">987</span>
            <h6 class="text-muted">Winning  Entries</h6></div>
          <div class="col-4 align-self-center text-right">
            <button type="button" class="btn btn-success">Hire me</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row -->
