<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper1">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topheader bg-dark" id="top">
    <div class="fix-width">
      <nav class="navbar navbar-expand-md navbar-light p-l-0">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <!-- Logo will be here -->
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/logo.png" alt="admin template"/></a>
        <!-- This is the navigation menu -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto stylish-nav">
            <li class="nav-item"><a class="nav-link text-warning" routerLink="/signUp-client">Hire Professionals</a></li>
            <li class="nav-item"><a class="nav-link text-warning" routerLink="/login">Log IN</a></li>
            <li class="nav-item"><a class="m-t-5 btn btn-warning font-13" data-toggle="modal" data-target="#responsive-modal" style="width:120px;color: white">SIGN UP</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper1">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="fix-width">
        <div class="row banner-text">
          <div class="col-md-5 m-t-20">
            <h1>The Most Trusted &amp; Guaranteed <span class="text-warning">Website</span> for Begin Your Life Story
            </h1>
            <p class="subtext">With <span class="font-medium">industry-leading</span> companies and the <span
              class="font-medium">professional</span> workers in the <span class="font-medium">business</span>, our
              mission
              is to <span class="font-medium">ethically</span> and <span class="font-medium">honestly</span> serve our
              clients so that they can achieve the <span class="font-medium">dream</span> of living.</p>
            <div class="down-btn"><a routerLink="/project" class="btn btn-warning m-b-10">Hire</a>
              <a href="#" class="btn btn-outline-warning m-b-10">Work</a></div>
          </div>
          <div class="col-md-7">
            <div class="hero-banner"><img src="../../../assets/images/backgrounds/bg-19.jpg"></div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Featured Section -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-12" id="demos">
          <div class="text-center">
            <small class="text-warning">The Most Trusted RealState Based Website</small>
            <!--<h2 class="display-7">Powerful Admin Template of 2017</h2>-->
            <p>Don’t go by our Words, hire our professionals and experience the change.
              <br/>You will surely be able to statisfy your vary need.</p>
          </div>
          <div class="max-width">
            <div class="row text-center">
              <div class="col-md-4 m-t-40">
                <div class="image-box"><img src="../../../assets/images/building-2762318_640.jpg"
                                            class="img-responsive"/>
                  <div class="image-overly">
                    <a class="btn btn-rounded btn-warning" href="#">Browse Architects</a>
                  </div>
                </div>
                <h5 class="p-20">Architects</h5></div>
              <div class="col-md-4 m-t-40">
                <div class="image-box"><img src="../../../assets/images/constructors.jpg" class="img-responsive"/>
                  <div class="image-overly">
                    <a class="btn btn-rounded btn-warning" href="#">Browse Constructors</a>
                  </div>
                </div>
                <h5 class="p-20">Constructors</h5></div>
              <div class="col-md-4 m-t-40">
                <div class="image-box"><img src="../../../assets/images/Land-for-Sale.jpg" class="img-responsive"/>
                  <div class="image-overly"><a class="btn btn-rounded btn-warning"
                                               href="#"
                                               target="_blank">Browse Land Providers</a></div>
                </div>
                <h5 class="p-20">Land Providers</h5></div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Feature with Icons -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-12">
          <div class="fix-width icon-section">
            <small class="text-warning">ALMOST COVERED EVERYTHING</small>
            <h2 class="display-7">Amazing Features & Flexibility Provided</h2>
            <!-- Row -->
            <div class="row m-t-40">
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-access-point text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">For Clients</h4>
                <p>The moment you use Edifices, you know you’ve never felt anything like this. With a usage of this
                  site you can arrange your house planing more than ever before. </p>
              </div>
              <!-- /.col -->
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-auto-fix text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">For Workers</h4>
                <p>With the usage of Edifices, you can give your knowledge to our customers and introduce your skills
                  and working experience more than ever before.</p>
              </div>
              <!-- /.col -->
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-camera-timer text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">24/7 Available</h4>
                <p>We’re always here to help. Our support consists of real people who are available 24/7.</p>
              </div>
              <!-- /.col -->
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-verified text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">Verified Users</h4>
                <p>Find professionals you can trust by browsing their samples of previous work and reading their profile
                  reviews.</p>
              </div>
              <!-- /.col -->
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-timetable text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">Save Time</h4>
                <p>Using Edifices you can save your time by searching lands, searching architectures, serching
                  constructors etc...</p>
              </div>
              <!-- /.col -->
              <!-- .col -->
              <div class="col-lg-4 col-md-6 text-center">
                <i class="mdi mdi-cash-multiple text-warning" style="font-size: 100px"></i>
                <h4 class="font-500">Save Money</h4>
                <p>With the usage of this site you can also save your money. You can search different types of
                  professionals with different types of pricing ranges..</p>
              </div>
              <!-- /.col -->

            </div>
          </div>
        </div>
      </div>

      <!-- ============================================================== -->
      <!-- Testimonial -->
      <!-- ============================================================== -->
      <div class="row light-blue">
        <div class="col-md-12">
          <div class="fix-width text-center">
            <h2 class="display-7">What Real Users have to <br/>Say about Archi</h2>
            <div class="tesimonial-box owl-carousel owl-theme" id="owl-demo2">
              <div class="item">
                <p class="testimonial-text"><b class="font-500">The free version is incredible and it had everything I needed, however I bought this full template to support the developer. It’s a great, lightweight template which has loads of awesome little features and pre-made layouts to help kick-start your next admin panel, CMS, or CRM system. Keep up the good work!</b> </p>
                <div class="username"><b>Nick Stanbridge<br/><small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small></b></div>
              </div>
              <div class="item">
                <p class="testimonial-text"><b class="font-500">This front-end templates are very nice, very suitable for my background to do now, provide a lot of components for my use. Customer service is also very patient, very good, did not download the success of the beginning, and later also help me download finished, it is worth!</b> </p>
                <div class="username"><b>Shinwu Ch<br/><small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small></b></div>
              </div>
              <div class="item">
                <p class="testimonial-text"><b class="font-500">in my opinion, MaterialPro Admin is a professional light-weight theme that will suit multiple projects types including MVC web-projects & dashboard-type user interface. I am yet to take a deep dive into the many features it offers. But from a first-hand experience, I would say it is really worth the money you pay for it… Go ahead & give it a try</b> </p>
                <div class="username"><b>Mohammed Shameem<br/><small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small></b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Call to action bar -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-12 call-to-action bg-faded">
          <div class="fix-width">
            <div class="row">
              <strong>Copyright &copy; 2018 <a href="http://ijse.lk">IJSE</a>.</strong>
              All rights reserved<
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <a class="bt-top btn btn-circle btn-lg btn-warning" href="#top"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- sample modal content -->
<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">How Do You Want To Join With US?</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
        <div class="col-md-6">
          <div class="ribbon-wrapper card">
            <div class="ribbon ribbon-success">FreeLancer</div>
            <input [(ngModel)]="routerLink" name="membership" type="radio" id="radio_43"
                   class="radio-col-amber"
                   [value]="'signUp-freelancer'">
            <label for="radio_43"></label>
            <p class="ribbon-content">Join with Us as a Freelancer ...</p>
          </div>

        </div>
        <div class="col-md-6">
          <div class="ribbon-wrapper card">
            <div class="ribbon ribbon-danger">Hire Freelancers</div>
            <input [(ngModel)]="routerLink" name="membership" type="radio" id="radio_44"
                   class="radio-col-amber"
                   [value]="'signUp-client'">
            <label for="radio_44"></label>
            <p class="ribbon-content">Join with us a client and post your project ...</p>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger waves-effect waves-light" routerLink="/{{routerLink}}" data-dismiss="modal">GO</button>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->
